<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/layout.html}">
<head>
  
</head>
  <body>


          <section class="row" layout:fragment="content">
              <div class="col-6 offset-3 mt-4">
              <form th:action="@{/admin/accounts/saveOrUpdate}" method="post" th:object="${account}">
                  <div class="card">
                      <div class="card-header" style="background-color: white;">
                        <h2 th:text="${account.isEdit ? 'Edit account' : 'Add new account'}">Add new account</h2>
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                            <label for="username">username</label>
                            <input type="hidden" th:field="*{isEdit}">
                            <input type="text" class="form-control" 
                            th:field="*{username}" aria-describedby="helpId" placeholder="Account id">
                            <small th:if="${#fields.hasErrors('username')}" id="helpId" class="form-text text-muted">Account id is required</small>
                          </div>

                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" aria-describedby="helpId" placeholder="password">
                            <small  th:if="${#fields.hasErrors('password')}"
                            id="helpId" class="form-text text-muted">Password is required</small>
                          </div>
                      </div>
                      <div class="card-footer text-muted">
                          <button class="btn btn-primary"><i class="fas fa-save    "></i>
                        <span th:if="${account.isEdit}">Update</span>
                        <span th:if="${!account.isEdit}">Save</span>
                        </button>
                          <a th:href="@{/admin/accounts}" class="btn btn-success">List account</a>   
                          <button type="reset"  class="btn btn-secondary"> Reset</button>
                      </div>
                  </div>
              </form>
              </div>
          </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  </body>
</html> 